#list-view {
    height: 100%;
    width: 100%;
}

.list-header-container {
    display: flex;
    gap: 20px;
}

.list-header-add-button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: greenyellow;
    font-weight: bold;
}

.list-tasks-container {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}