.dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(0, 1fr);
    height: 100%;
}

.dashboard-column {
    height: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(208, 208, 208);
}

.dashboard-task-container {
    flex: 1;
    background-color: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.dashboard-header {
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
}

div[class^="dashboard-header"] {
    border-radius: 10px;
}

.dashboard-header-expired {
    background-color: red;
}

.dashboard-header-today {
    background-color: orange;
}

.dashboard-header-tomorrow {
    background-color: rgb(99, 99, 255);
}

.dashboard-header-week {
    background-color: rgb(43, 227, 52);
}