.dashboard-card {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboard-card-icon {
    border-radius: 20px;
}

.dashboard-card-icon.p0 {
    background-color: rgb(119, 198, 0);
}

.dashboard-card-icon.p1 {
    background-color: rgb(255, 153, 0);
}

.dashboard-card-icon.p2 {
    background-color: rgb(249, 91, 91);
}

.dashboard-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px 5px 15px;
}

.dashboard-card-header-edit {
    width: 24px;
    height: 24px;
    border: none;
    background-color: white;
}

.dashboard-card-name {
    flex: 1;
    font-weight: bold;
    font-size: 1.2rem;
}

.dashboard-card-body {
    padding: 0px 15px 10px;
}

.dashboard-card-body-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .dashboard-card-hide {
    display: none;
} */