#display-list-tasks-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
}

#display-list-tasks-container>.list-element>.list-element-footer>.list-element-button {
    width: 150px;
    height: auto;
    font-size: large;
    justify-content: start;
    padding-left: 10px;
    gap: 10px;
}